<h1 style="text-align: center; padding-top:100px; font-size:5px;">   </h1>
<div class="user-container">
       
    <div class="p1">Name </div> <div class="p2"> <%= @user_details.name %> </div> <br>
    
    <div class="p1">Email</div> <div class="p2"> <%= @user_details.email %></div>
    
</div>

