<h1 style="text-align: center; padding-top:100px; font-size:5px;">   </h1>
<div class="user-container">
       
    <div class="p1">Name </div> <div class="p2"> <%= @user_details.name %> </div> <br>
    
    <div class="p1">Email</div> <div class="p2"> <%= @user_details.email %></div>
    
</div>

<div><%= link_to User.find(current_user.id).name, user_profile_page_path(current_user.id), class:"link-to-title", data:{ bs_toggle: "modal", bs_target: "#newuserprofilemodal", remote: true } %></div> 


<div class="modal fade" id="newuserprofilemodal" tabindex="-1" aria-labelledby="newuserprofilemodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newuserprofilemodalLabel">
                    <div style="padding-left:160px;">
                        Edit Post
                    </div> 
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="newuserprofilemodal">
    
            </div>
        </div>

    </div>
</div> 