<p class="friendship-<%= allfriends.id %>">
    <%= User.find(allfriends.sender_id).name %> <%= link_to "Remove Friend", user_friendrequest_path(current_user.id, allfriends.id), method: :delete, remote:true, class:"btn btn-danger" %>
</p>
