<%= form_with(model:[@user, post, comment], remote:true) do |f| %>
    <div class="modal-body">
        <br>
        <%= f.label :body %> <br> 
        <%= f.text_field :body %> <br>
    </div>

    <div class="modal-footer"></div> 
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= f.submit "Save Changes", class: "btn btn-primary"%>
    </div>
<% end %>