<div class="modal-body">
    <div >Name </div> <%= user_details.name %> </div> <br>
    
    <div >Email</div> <%= user_details.email %></div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
</div>