// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-profile-image {
    border-radius: 50%;
    width: 50px; /* set the width and height to the desired size */
    height: 50px;
  }

.my-name-button {

    margin-left: 870px;/* adds rounded corners to the link */
  }
  
