// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-profile-image {
    border-radius: 50%;
    width: 50px; /* set the width and height to the desired size */
    height: 50px;
  }

.my-name-button {

    margin-left: 870px;/* adds rounded corners to the link */
  }

.div-element{
  text-align: center;
}

.html-class-index {
  background-color:#303338;
  color:white
  
}

.post-class{
  width: 400px;
  height: 450px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: black;
  
  color:aliceblue
}

.user-post-image {
  border-radius: 50%;
  width: 50px; /* set the width and height to the desired size */
  height: 50px;
  margin-top: 15px;
  margin-left: 5px;
  border: 1px solid grey;
}

.post-user-name-class {
  background-color: red;
  font-size: 10px;
}