// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-profile-image {
    border-radius: 50%;
    width: 50px; /* set the width and height to the desired size */
    height: 50px;
    top: 50%;
    left: 60%;
    transform: translate(20%, 18%);
  }

.my-name-button {

    margin-left: 870px;/* adds rounded corners to the link */
  }

.div-element{
  text-align: center;
}

.html-class-index {
  background-color:#303338;
}

.user-unique-post {
  width: 700px;
  height: 300px;
  margin-bottom: 10px;
  top: 50%;
  left: 60%;
  transform: translate(80%, 0%);
  display: flex;
  background-color: black;
  
}

.delete-button{
  
  position: absolute; 
  bottom:0;
  left:0;
  width: 50%;

}

.edit-line-comment {
  height: 38px; border-top: 1px solid white;
  position: absolute; 
  bottom:0;
  left:0%;
  width: 100%;

}

.btn1{
  position: absolute; 
  bottom:0;
  right:0;
  width: 50%;
}

.user-post-username{
 
  
  margin-left: 16px;
  margin-top: 10px;
  font-size: 9px;
  align-content: flex-start;
  height: 20px;
  width: 120px;
}

.user-post-time{
  
  top: 40px ;
  left: 60px;
  font-size: 7px;
  margin-left: 16px;
  margin-top: -20px;
}

.user-info{
  
}
