.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
  }
  
  .grid-item {
    background-color: #ffffff;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 10px #888;
  }
  .grid-item-text{
    font-size: 40px;
}

.stock-heading{
    text-align: center;
    padding: 40px;
    font-size: 40px;
}

.container {
  padding-top: 10px;
  font-size: 10; 
}

.element1, .element2, .element3, .element4, .element5 {
  display: inline-block;
  vertical-align: top;
  font-size: 20px;
  width: 15%; 
  

}



.user-container{
  padding-top: 100px;
  padding-left: 600px; 
  padding-bottom: 100px;
}

.p1, .p2{
  display: inline-block;
  width: 35%;
  font-size: 30px;
  padding-bottom: 20px;
}
.link-to-title{
  text-decoration: none;
  color:inherit;
}

.circle {
  display: inline-block;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
.circle img {
  display: block;
  max-width: 100%;
  height: auto;
}